<div id="valuesContainer" class="container-fluid custom-cont-style">
  <label for="valuesContainer" class="group-title">Current values</label>
  <div class="row">
    <div class="col-sm-3">
      <label for="dailyAmountParagraph">Daily amount: </label>
    </div>
    <div class="col-sm-3">
      <p id="dailyAmountParagraph">300</p>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-3">
      <label for="grossAmountParagraph">Gross amount: </label>
    </div>
    <div class="col-sm-3">
      <p id="grossAmountParagraph">6600</p>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-3">
      <label for="taxParagraph">Tax: </label>
    </div>
    <div class="col-sm-3">
      <p id="taxParagraph">15%</p>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-3">
      <label for="fixedCostParagraph">Fixed cost: </label>
    </div>
    <div class="col-sm-3">
      <p id="fixedCostParagraph">200</p>
    </div>
    <div class="col-sm-3">
      <label for="netAmountParagraph" style="font-size: 40px;">Net amount: </label>
    </div>
    <div class="col-sm-3">
      <p id="netAmountParagraph" style="font-size: 40px; text-decoration: underline;">5000</p>
    </div>
  </div>
</div>
